## Python
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

In [7]:
#ini komentar
print('hello world')

hello world

In [15]:
a=10

In [16]:
b=5

In [17]:
c=a+b
print(c)

15

In [ ]:
a=50
print(a)

In [23]:
from IPython.display import IFrame
url = 'https://orbitfutureacademy.id/'
IFrame(url, width=900, height=400)

## Python Indentation
Indentation refers to the spaces at the beginning of a code line.Where in other programming languages 
the indentation in code is for readability only, the indentation in Python is very important Python uses indentation to indicate a block of code.

In [2]:
x = 4
x = "Alqn"
print(x)

Alqn

In [3]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)

3 3 3.0

## Get the Type
You can get the data type of a variable with the type() function.

In [2]:
x = 5
print(type(x))

<class 'int'>

In [7]:
x,y,z = "pink", "red", "white"
print(x,y,z)
print(z,x,y)

pink red white
white pink red

In [1]:
"""Random Number"""
import random
print(random.randrange(1,100))

48

## Python Casting

In [6]:
x= int(1)
y= int(2.8)
z= int("3")
print(x,y,z)

1 2 3

In [8]:
mobil = ["jazz", "Tesla", "Avanza"]
x,y,z = mobil
print(x,y,z)

jazz Tesla Avanza

## Python - Modify Strings
Upper case dan Lower Case

In [10]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

### Remove Whitespace

In [12]:
a = " Hello, World! "
print(a.strip())

Hello, World!

### Replace String

In [17]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String

In [18]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# Python - Format - Strings
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [19]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [20]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

### Escape Character
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [23]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Python Boolean
Booleans represent one of two values: True or False.

In [24]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [26]:
a = 30
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

### Evaluate Values and Variables

In [27]:
print(bool("Hello"))
print(bool(15))

True
True

In [28]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

## Python Operators

In [40]:
x = 10
y = 5

In [41]:
print(x + y)
print(x - y)
print(x / y)
print(x * y)
print(x % y)
print(x ** y)
print(x // y)

15
5
2.0
50
0
100000
2

### Python Comparison Operators
Comparison operators are used to compare two values:

In [42]:
x == y

False

In [43]:
x != y

True

### Python Logical Operators

In [46]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x > 3 and x < 10))

True
True
False

### Python Identity Operators

In [49]:
x = ["Salak", "Pisang"]
y = ["Salak", "Pisang"]
z = x

print(x is z)
# returns True because z is the same object as x
print(x is not z)
# returns False because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
False
True
True
False

### Python Membership Operators

In [51]:
x = ["Salak", "Pisang"]
print("Salak" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [52]:
x = ["Salak", "Pisang"]
print("Apel" not in x)

# returns True because a sequence with the value "banana" is in the list

True

## Python Lists 
List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets: